@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* PRIMARY */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* NEUTRAL */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1;
}

.btn:link,
.btn:visited {
  color: var(--white);
  text-decoration: none;
}

.btn:hover,
.btn:active {
  color: var(--cyan);
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-bg);
  margin-bottom: 9.6rem;
}

.container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 35rem;
  background-color: var(--card-bg);
  padding: 2.4rem;
  border-radius: 12px;
}

.card-img-box {
  margin-bottom: 2.4rem;
  background-color: var(--cyan);
  line-height: 0;
  border-radius: 12px;
  position: relative;
}

.card-img-box img {
  width: 100%;
  border-radius: 10px;
}

.card-img-box:hover img,
.card-img-box:active img {
  opacity: 0.6;
  cursor: pointer;
}

.hover-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.card-img-box:hover .hover-img,
.card-img-box:active .hover-img {
  opacity: 1;
}

.card-content {
  color: var(--soft-blue);
}

.card-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.card-description {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.card-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.price {
  color: var(--cyan);
  font-size: 1.6rem;

  display: flex;
  flex: 1 1 auto;
  gap: 0.6rem;
}

.remain-day {
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  flex: 1 1 auto;
  gap: 0.6rem;
  justify-content: flex-end;
}

.card-creator {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding-top: 1.2rem;
  border-top: 2px solid var(--line);
}

.creator-img-box {
  width: 3rem;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.creator-img-box img {
  width: 100%;
}

.creator-name {
  color: var(--white);
}
